* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #ffffff;
  }
  
  html,
  body {
    height: 100%;
    background: url('./images/mosque.jpg') no-repeat center center;
    background-size: cover;
  }
  
  .main {
    background: rgba(0, 0, 0, 0.6);
    min-height: 100%;
    display: flex;
    align-items: center;
  }
  
  .container {
    max-width: 85rem;
    margin: 0 auto;
    padding: 0 1%;
    opacity: 0;
    transition: opacity 1s linear;
  }
  
  .title {
    font-size: 4.4rem;
    text-align: center;
  }
  
  .countdown {
    max-width: 40rem;
    margin: 3.2rem auto;
    display: flex;
    justify-content: space-around;
  }
  
  .time h2 {
    font-size: 5rem;
    text-align: center;
  }
  
  .time small {
    display: block;
    margin-top: 1rem;
    font-size: 2.1rem;
    text-align: center;
  }
  
  .year {
    position: absolute;
    bottom: 3.2rem;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 15rem;
    opacity: 0.25;
    pointer-events: none;
  }
  
  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
  }
  
  .loader-item {
    background: #ffffff;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin: 0 0.5rem;
  }
  
  .loader-item:nth-child(1) {
    animation: loader-animation 0.5s linear infinite;
  }
  
  .loader-item:nth-child(2) {
    animation: loader-animation 0.5s linear 0.1s infinite;
  }
  
  .loader-item:nth-child(3) {
    animation: loader-animation 0.5s linear 0.2s infinite;
  }
  
  @keyframes loader-animation {
    0%, 100% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(1rem);
    }
    50% {
      transform: translateY(-1rem);
    }
  }